/* CSS Document */

body { background-color: #FFF; color: White; padding: 0px; margin: 0px; font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px }

h1 { color: white; font-size: 68px; margin: 0px}

tr:hover { background-color: #9f89db }

.headerPane { background-color: White; width: 100vw; color: Black; height: 70px; padding-left: 48px }

.contentPane { width: 100vw;
    background-image: url('https://satoshilabs.com/img/brand_fill_oval.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #000;
    padding: 120px 0;
    color: #fff;
}

.cryptPane { display: block; width: 700px; margin-left: auto; margin-right: auto}

.titlePane { display: block; width: 300px; margin-left: auto; margin-right: auto }

.cryptButton { background-color: #FFF; border: #586069 solid 1px; color: #586069; font-size: 28px; border-radius: 3px;
    padding: 5px; margin: 5px }
.cryptButton:hover { background-color: #586069; border: #586069 solid 1px; color: white; font-size: 28px;
    border-radius: 3px; padding: 5px; margin: 5px; cursor: pointer }

.inputText { background-color: #222; font-size: 28px; padding: 20px; color: #FFF; width: 600px; margin: 5px;}
