<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <link rel="stylesheet" href="/css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <script type="text/javascript">

            $(document).ready(function() {

                $('#cryptButton').click(function(){

                    let plainText = $("#plainText").val();
                    let psw = $("#psw").val();

                    $.get("/api/encrypt?text="+ plainText + "&psw=" + psw, function(data, status){

                        $("#cipherText").val(data['data']);

                    });
                });
            });

        </script>

    </head>
    <body>
        <div class="headerPane">
        </div>

        <div class="contentPane">
            <div class="titlePane">
                <h1>Encrypt</h1>
            </div>
            <div class="cryptPane">
                <label for="plainText">Insert plain text:</label>
                <br>
                <input type="text" name="plainText" id="plainText" class="inputText">
                <br>
                <label for="plainText">Password:</label>
                <br>
                <input type="text" name="psw" id="psw" class="inputText">
                <div class="buttonPane">
                    <button id="cryptButton" class="cryptButton">Encrypt now</button>
                </div>
                <label for="plainText">Encrypted text:</label>
                <input type="text" name="cipherText" id="cipherText" class="inputText">

            </div>
        </div>

    </body>
</html>
